.app-main{
    height:100vh;
    widows: 100vw;
    display: flex;
}

.task-panel{
    flex-grow: 5;
    background-color: burlywood;
}

.list-panel{
    flex-grow: 1;
    background-color: deepskyblue;
}

.form-item{
    align-content: center
}

