<div class="app-main">
    <div class="task-panel">
        <app-form-task
        (onCreateTask)="createTask($event)"
        ></app-form-task>
        <app-view-task 
        [tasks]=tasks
        (onEditTextTask)="editTextTask($event)"
        (onDeleteTask)="deleteTask($event)"></app-view-task>
    </div>
    <div class="list-panel">
        <app-form-list
        (onCreateList)="createList($event)"
        ></app-form-list>
        <app-view-list
        [lists]=lists
        [currentList]=currentList
        (changeCurrentList)="changeCurrentList($event)"
        (deleteList)="deleteList($event)"
        ></app-view-list>
    </div>
</div>
<router-outlet></router-outlet>